:root {
  --main-bg-color: #08142B;
  --main-text-color: #FFFFFF;
  }

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  box-shadow: none;
  border: none;
  cursor: pointer;
}
