:root {
  --main-bg-color: #08142B;
  --main-text-color: #FFFFFF;
  }

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000006E;
  border-radius: 8px;
  min-height: 45px;
}
